requests==2.32.5
langdetect==1.0.9
transformers==5.1.0
span-aligner==0.2.4
debugpy==1.8.20
langchain==1.3.2
langchain-core==1.4.0
langchain-mistralai==1.1.4
json-repair==0.59.10
https://github.com/semantic-ai/decide-ai-service-base/releases/download/v0.3.2/decide_ai_service_base-0.3.2-py3-none-any.whl
pytest==9.1.1
